*.o
*.a
*.depend
*.swp
*.E
.version
bochsout.txt
boot/bootsect
boot/bootsect.s
boot/head.s
boot/setup
boot/setup.s
config.old
include/linux/autoconf.h
kernel/ksyms.lst
tools/build
tools/version.h
tools/zSystem
tools/zSystemBin
zBoot/head.s
zBoot/piggyback
zBoot/xtract
zBoot/zSystem
zImage
zSystem.map
kernel/sys_call.s
tags


